<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vivek</title>
  </head>
  <body>
    <h2>Welcome to IIFE</h2>
    <h3>hello how did this happen</h3>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda iste
        suscipit quia voluptatum eligendi vero fugiat, eveniet explicabo
        adipisci sed inventore rerum fugit nostrum doloremque saepe illum quod,
        sunt neque molestiae temporibus laudantium quisquam iusto aspernatur
        incidunt. Labore, vitae culpa?
      </p>
    </div>
  </body>
</html>
